#areaPhotos{
    width: 100%;
    height: auto;
    background-color: red;
    margin-top: 50px;
    padding: 10px;
    color: #fff;
}

#titleAreaPhotos{
    text-align: center;
}

#searchPhotos{
    width: inherit;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.gridPhotos{
    display: grid;
}