.App {
  width: 100%;
  height: 100%;
  background: rgb(28, 18, 53);
  background: linear-gradient(
    57deg,
    rgba(28, 18, 53, 1) 20%,
    rgba(0, 0, 0, 1) 78%
  );
}

header {
  width: 95%;
  margin: auto;
  padding: 40px;
  border-bottom: 1px solid rgb(37, 35, 41);
}

#navbar {
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  text-transform: capitalize;
  letter-spacing: 1px;
  font-size: 18px;
}

#navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  list-style: none;
}
.navItem {
  cursor: pointer;
}

.navItem:hover {
  color: rgb(211, 69, 3);
  transition: all 0.6s;
}

#btnStart {
  outline: none;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  border-radius: 50px;
  font-size: 19px;
  cursor: pointer;
}

#btnStart:hover {
  background-color: #fff;
  color: rgb(25, 17, 47);
  transition: all 0.6s;
}

#bannerArea {
  width: 100%;
  height: 85%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contactArea {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 90px;
  padding-left: 20px;
  gap: 30px;
}

#mainInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
}

#mainInfo div {
  height: 100%;
}

#bannerInfo {
  width: 60%;
  color: #fff;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  padding-left: 150px;
}
#description {
  flex: 3;
  width: 80%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
#description h1 {
  font-size: 90px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

#description p {
  padding-top: 20px;
  font-size: 20px;
  letter-spacing: 1px;
}

#infoCard {
  flex: 1;
  width: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

#boxVideo {
  flex: 2;
  height: 100%;
  background-image: url("./assets/robo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}

#card-description {
  flex: 3;
  height: 60%;
  border-radius: 0px 20px 20px 0px;
  background: rgba(255, 255, 255, 0.384);
  background: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0.384) 30%,
    transparent 70%
  );
  text-align: start;
}

#card-description h3{
  font-size: 18px;
width: 80%;
text-transform: uppercase;
letter-spacing: 3px;
padding: 10px;
}

#card-description small{
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-left: 10px;
}


#imgBackground {
  width: 40%;
}

#imgBackground img {
  width: 100%;
  height: 100%;
}
