.App {
  min-width: 100%;
  min-height: 100%;
  background: rgb(28, 18, 53);
  background: linear-gradient(
    57deg,
    rgba(28, 18, 53, 1) 20%,
    rgba(0, 0, 0, 1) 78%
  );
}

@media (min-width: 660px) and (max-width: 768px) {
  .App {
    min-width: 100%;
    min-height: 100%;
    background: rgb(28, 18, 53);
    background: linear-gradient(
      57deg,
      rgba(28, 18, 53, 1) 10%,
      rgba(0, 0, 0, 1) 90%
    );
    overflow-x: hidden;
  }
}

@media (min-width: 768px) and (max-width: 1280px) {
  .App {
    min-width: 100%;
    min-height: 100%;
    background: rgb(28, 18, 53);
    background: linear-gradient(
      57deg,
      rgba(28, 18, 53, 1) 10%,
      rgba(0, 0, 0, 1) 90%
    );
    overflow-x: hidden;
  }
}
